header {
    background-color: transparent;
    background-image: radial-gradient(transparent 1px , var(--token-f32baa44-90b8-42a5-8bca-ffba9d95b23a, #333333) 1px); /* Add a radial gradient to the header */
    backdrop-filter: blur(3px);
    background-size: 4px 4px;
        mask: linear-gradient(rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 100%);
    opacity: 1;
    color: white;/* Change the text color to white */
 /* Change to black for improved contrast */
    height: 74px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
   justify-items: center;
   z-index: 5;
   position: sticky;
   top: 10px;
}

.wide-logo {
    display: flex;
    width: 220px;
    margin-left: 20px;
    height: 35px;
    align-items: center;
    justify-content: center;
}

#menu-login-credentials-container {
    display: flex;
    margin-left: auto;
    align-items: center; /* Align items vertically centered */
    justify-content: flex-end; /* Align items to the right */
    padding:auto; /* Add padding to the container */
    gap: 4px;
}



#keep-me-connected {
    align-items: center; /* Center vertically */
    color: white; /* Change text color to white for visibility */
    font-size: x-small;
    font-weight: 100;
}
#connect {
    cursor: pointer;
}

.horizontal-menu-link {
    color: white; /* Change text color to white for visibility on black background */

}
